AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
CSS_SELECTOR=#hhibody > div:nth-child(4) > div.collapsible-body > div.calendar-table > div.row-fluid > div:nth-child(1) > table > tbody > tr:nth-child(2) > td:nth-child(-n+3)
EMAIL_TO_NOTIFY=user@mail.com
INTERVAL=60000
MODE=server
URL=https://service.berlin.de/terminvereinbarung/termin/tag.php?termin=1&dienstleister=121918&anliegen%5B%5D=120691&herkunft=1
